<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="/dashboard" class="brand-link">
        <span class="brand-text font-weight-light">SOGEP</span>
    </a>
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                <li class="nav-item">
                    <a href="/users" class="nav-link <%= (currentPage === 'users') ? 'active' : '' %>">
                        <i class="nav-icon fas fa-users"></i>
                        <p>Gestión de Usuarios</p>
                    </a>
                </li>
                
                <% if (currentPage === 'users') { %>
                    <li class="nav-item">
                        <a href="/roles" class="nav-link">
                            <i class="nav-icon fas fa-user-shield"></i>
                            <p>Gestión de Roles</p>
                        </a>
                    </li>
                <% } %>
                
            </ul>
        </nav>
    </div>
</aside>
