<aside class="d-flex flex-column bg-dark text-white p-3" style="width: 250px; height: 100vh;">
    <a href="/dashboard" class="text-white mb-3">
        <h4>SOGEP</h4>
    </a>

    <!-- Barra lateral con opciones -->
    <nav class="navbar navbar-dark">
        <ul class="nav flex-column">
            <!-- Dashboard -->
            <li class="nav-item">
                <a href="/dashboard" class="nav-link <%= currentPage === 'dashboard' ? 'active' : '' %>">
                    <i class="fas fa-home"></i>
                    <p>Dashboard</p>
                </a>
            </li>

            <!-- Clientes -->
            <li class="nav-item">
                <a href="/clients" class="nav-link <%= 
