# Ignorar archivos de entorno y credenciales
.env
.env.local
.DS_Store

# Ignorar dependencias de Node.js
node_modules/
npm-debug.log
yarn-error.log

# Ignorar archivos de configuración de editores
.vscode/
.idea/

# Ignorar archivos de logs y caché
logs/
*.log
debug.log
.cache/

# Ignorar archivos de compilación
dist/
build/
