<%- include('partials/header') %> <!-- Incluye el header de layout -->

<div class="content-wrapper">
    <section class="content-header">
        <h1>Bienvenido, <%= user.username %>!</h1>
    </section>

    <section class="content">
        <p>Este es tu panel de control.</p>
    </section>
</div>

<%- include('partials/footer') %> <!-- Incluye el footer de layout -->
